<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Portfolio: Waldo Hidalgo</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/partials/menu.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />
    <link rel="stylesheet" href="/css/partials/btn_up.css" />
    <link rel="stylesheet" href="/css/partials/hamburguer.css" />
    <link rel="stylesheet" href="/css/partials/contacto.css" />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    {{{body}}}
    <script
      src="https://unpkg.com/typewriter-effect@latest/dist/core.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script src="/js/control_btn_up.js"></script>
    <script src="/js/footer.js"></script>

    {{#if runtimeOptions.home}}
      <script src="/js/controlHomeScrollProyectos.js"></script>
      <script type="module" src="/js/home.js"></script>
      <script src="/js/control_hamburguer.js"></script>
      <script src="/js/control_contacto.js"></script>

    {{/if}}

    <div class="contenedor_btn_scrolltop">
      <button id="scrollBtn" title="Ir a Inicio">
        <i class="bi bi-arrow-up-circle-fill"></i>
      </button>
    </div>
  </body>
</html>