<section class="menu">
  <div class="contenedor_logo">
    <a href="#intro"><img src="/images/logo_waldo_negra.webp" alt="Logo" /></a>
  </div>
  <ul class="menu_lista">
    <li>
      <a href="#about_me"><i class="bi bi-person-circle"></i> About me</a>
    </li>
    <li>
      <a href="#estudios"><i class="bi bi-mortarboard-fill"></i>
        Estudios Profesionales</a>
    </li>
    <li>
      <a href="#proyectos"><i class="bi bi-folder2-open"></i> Proyectos</a>
    </li>
    <li>
      <a href="#skills"><i class="bi bi-reception-4"></i> Skills</a>
    </li>
    <li>
      <a href="#certificaciones" class="menu_diploma_contenedor"><img
          width="16"
          height="16"
          class="menu_diploma"
          src="/images/diploma.svg"
          alt="diploma"
        />
        Certificaciones</a>
    </li>
    <li>
      <a href="#contacto"><i class="bi bi-envelope-arrow-up"></i> Contacto</a>
    </li>
    <li>
      <a href="#redes"><i class="bi bi-github"></i>
        <i class="bi bi-linkedin"></i>
        Redes</a>
    </li>
  </ul>
</section>