<div class="contenedor_whatsapp">
  <a
    href="https://api.whatsapp.com/send?phone=56963061568&text=Hola%20%F0%9F%91%8B%2C%20te%20has%20contactado%20con%20Waldo.%20Realizo%20clases%2C%20%20trabajos%2C%20gu%C3%ADas%20y%20tareas%20de%20matem%C3%A1ticas%2C%20f%C3%ADsica%2C%20programaci%C3%B3n%20en%20Python%2C%20JavaScript%20o%20SQL%20junto%20con%20Power%20BI.%20Escr%C3%ADbeme%20lo%20que%20necesitas"
    target="_blank"
    rel="noopener noreferrer"
    title="Haz click para contactarme por WhatsApp"
  >
    <img src="/images/whatsapp.svg" alt="whatsapp" />
  </a>
</div>