.contenedor_whatsapp {
  bottom: 5px;
  margin-left: 5px;
  position: fixed;
  z-index: 100;
  width: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.contenedor_whatsapp:hover {
  transform: scale(1.05);
  border: 2px solid black;
  border-radius: 10px;
}
